@import "../styles/variables.scss";
@import "../styles/components.scss";

.match-list-background {
    @include background-image;
   opacity: 0.3;
}

@mixin info {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: $magnolia;
    padding-right: 30px;
    border-right: 1px solid $magnolia;
}

.matchlist-item__container {
    display: flex;
    flex-direction: row;
}

.matchlist-item {
    margin-left: 5px;
    display: flex;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    font-size: 40px;
    padding-left: 50px !important;
    font-weight: 700;
    color: white !important;
    cursor: pointer;
}

.container {
    margin-bottom: 70px;
}

.match-player-detail {
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 3px 10px;
}

.match-player-win {
    background-color: #1B381A;
}

.match-player-lose {
    background-color: #5C252B;
}

.row-decoration-win {
    width: 10px;
    height: 120px;
    background-color: $fern-green
}

.row-decoration-lose {
    width: 10px;
    height: 120px;
    background-color: $wine;
}

.card-body {
    background-color: $eggplant;
    border-color: $xiketic;
}

.card {
    border-radius: 5px;
    border-color: $eggplant !important;
}

h1 {
    color: $magnolia;
}

.player-card {
    height: 168px;
    width: 168px;
    margin-top: 15px;
    object-fit: cover;
    object-position: 0px -45px;
    border: 5px solid $xiketic;
    margin-right: 20px;
}

.profile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid #6E2134;
    border: 1px solid #6E2134;
    border-left: none;
    border-bottom: none;
}

.recent-matches-column {
    width: 100%;
    border: 1px solid #6E2134;
    border-right: none;
    border-bottom: none;
    padding: 20px;
    h1 {
        @include info;
        font-size: 30px;
        width: 265px;
    }
}


.profile-name-banner {
    height: 100px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;

    h1 {
        @include info;
    }
}

.game-map {
    height: 120px;
    width: auto;
    clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0% 100%);
}

