@import "./variables.scss";

@mixin background-image {
    width: 100%;
    height: auto;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    top: $navbar-height;
    pointer-events: none;
}

.body-container {
    background-color: $dark-sienna;
    height: calc(100vh - 160px);
    .container {
        padding-top: 50px;
        position: relative;
        z-index: 500;
    }
}

.header-container {
    background-color: $magnolia;
    height: $navbar-height;
    padding-top: 50px;
    display: flex;
    .header-text {
        min-width: 345px;
        font-weight: 700;
        color: $cerise;
    }
}

a:hover {
    text-decoration:none !important;
}

.dropdown-toggle.btn.btn-primary {
    background-color: $cerise !important;
    border-color: $cerise !important;
    &:active {
        background-color: $cerise !important;
        border-color: $claret !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem $claret !important;
    }
}

body {
    background-color: $dark-sienna !important;
}