//Color styles
$magnolia: #FFFAFF;
$cerise: #D8315B;
$claret: #751A31;
$dark-sienna: #430F1C;
$aubergine: #320B15;
$xiketic: #110306;

$green-blue-crayola: #3E92CC;
$royal-blue-dark: #0A2463;
$spanish_grey: #9E9E9E;

$navbar-height: 110px;