@import "../Styles/variables.scss";

.input-container {
    position: absolute;
    display: flex;
    top: 30%;
    width: 100%;
    z-index: 4000;
    width: 70vw;
    padding: 20px;
    background-color: $aubergine;
    opacity: 1;
    border-radius: 10px;
}

.rbt {
    width: 100%;
}

.dropdown-toggle.btn.btn-primary {
    background-color: $cerise !important;
    border-color: $cerise !important;
    &:active {
        background-color: $cerise !important;
        border-color: $claret !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem $claret !important;
    }
}