.input-box {
    background-color: #060b14;
    color: white;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 5px;
    width: 60%;

    &:focus {
        outline: none;
    }
}

label {
    color: white;
    margin-right: 5px;
}

.input-container {
    display: inline-block;
}

.errorMsg {
    color: red;
}