@import "../styles/variables.scss";

.main-search {
    position: absolute;
    display: flex;
    top: 300%;
    width: 100%;
    z-index: 4000;
    width: 70vw;
    padding: 20px;
    background-color: $aubergine;
    border-radius: 10px;
}

.nav-search {
    position: relative;
    display: flex;
    bottom: 12px;
    z-index: 4000;
    width: 60vw;
    padding: 20px;
}

.rbt {
    width: 100%;
}